:root {

     /* color */

    --black:#000; 
    --light-black:#222; 
    --light-black2:#181818; 
    --light-black1:#4d4d4d; 
    --grey: #555;
    --grey-2: #666;
    --dark-grey: #808082;
    --khaki-grey:#AA9E78;
    --light-grey:#999;
    --green: #28A745;
    --khakhigreen:#454729;
    --white-grey: #F3F3F3;    
    --white-grey-1: #b6b6b6;
    --white-grey-2: #9e9e9e;
    --red: #CC111C;
    --dark-orange:#F00;
    --blue:#007BFF;
    --light-orange:#D36B31;
    --orange:#FF4400;

    /* font-size */

    --fs-s-sm:10px;
    --fs-m-sm:14px;
    --fs-l-sm:16px;
    --fs-s-md:18px;
    --fs-m-md:20px;
    --fs-x-md:24px;
    --fs-s-lg:25px;
    --fs-m-lg:30px;
}

/* color */

.text-black{
    color:var(--black);
}
.text-light-black{
    color:var(--light-black);
}
.text-light-black1{
    color:var(--light-black1);
}
.text-light-black2{
    color:var(--light-black2);
}
.text-white-grey{
    color: var(--white-grey);
}
.text-white-grey1{
    color: var(--white-grey-1);
}
.text-white-grey{
    color: var(--white-grey-2);
}
.text-grey{
    color: var(--grey);
}
.text-grey2{
    color: var(--grey-2);
}
.text-light-grey{
    color: var(--light-grey);
}
.text-dark-grey{
    color: var(--dark-grey);
}
.text-khakigrey{
    color: var(--khaki-grey);
}
.text-khakigreen{
    color: var(--khakhigreen);
}
.text-green{
    color: var(--green);
}
.text-red{
    color: var(--red);
}
.text-blue{
    color: var(--blue);
}
.text-dark-orange{
    color: var(--dark-orange);
}
.text-light-orange{
    color: var(--light-orange);
}
.text-orange{
    color: var(--orange);
}
.bg-green{
    background-color: var(--green);
}

/* font-size */

.fs-s-sm{
    font-size: var(--fs-s-sm);
}
.fs-m-sm{
    font-size: var(--fs-m-sm);
}
.fs-l-sm{
    font-size: var(--fs-l-sm);
}
.fs-s-md{
    font-size: var(--fs-s-md);
}
.fs-m-md{
    font-size: var(--fs-m-md);
}
.fs-l-md{
    font-size: var(--fs-l-md);
}
.fs-s-lg{
    font-size: var(--fs-s-lg);
}
.fs-m-lg{
    font-size: var(--fs-m-lg);
}
